// variables
$navbar-height: 48px;
$side-nav-item-height: 64px;
$primary-color: color('blue', 'base');
$category-color: color('green', 'lighten-1');
$tag-color: color('pink', 'base');
$date-color: color('orange', 'base');
