// variables

// Colors
$primary-color: color('blue', 'base');
$category-color: color('green', 'lighten-1');
$tag-color: color('pink', 'base');
$date-color: color('orange', 'base');

$success-color: color('blue', 'base');
$warning-color: color('amber', 'darken-4');
$danger-color: color('red', 'accent-4');

// Navigation
$navbar-height: 48px;
$side-nav-item-height: 64px;

$dashboard-navbar-width: 240px;
