.form {
    .input-field label.active:after {
        top: 60px;
        font-size: 15px;
    }

    .input-field label:after {
        top: 32px;
        transition: top .2s ease;
    }

    label i.material-icons {
        vertical-align: bottom;
        transition: font-size 0.2s ease;            
    }

    label.active i.material-icons {
        font-size: 18px;
    }
}
