body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("../image/bg.jpg") #DFDFDF;
}

main {
    flex: 1 0 auto;
}

main div.container {
    width: 90%;
}

.collapsible-header {
    line-height: 2rem;
}

.summary {
    margin: 5px 0;
    line-height: 2rem;
}

.collapsible-body {
    background: #FFFFFF;
}

ul.nav-items {
    padding-left: 20%;
}

.pagination li.active {
    background-color: #448AFF !important;
}

@media only screen {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, ul.dropdown-content li{
        height: 45px;
        line-height: 45px;
        min-height: 45px;
    }

    .navbar-fixed {
        height: 45px;
    }

    ul.dropdown-content a {
        line-height: 21px;
        padding: 12px 16px;
    }

    ul.select-dropdown li {
        min-height: 50px;
    }

    .dropdown-content li>span {
        color: hotpink;
    }
}

@media only screen and (max-width: 993px) {
    nav #nav-mobile li, nav #nav-mobile a, nav #nav-mobile i {
        height: 64px;
        line-height: 64px;
    }

    nav .btn-floating {
        height: 45px;
        width: 45px;
    }
}

@media screen, projection {
    .card .card-action {
        padding: 15px;
    }

    .card-action a {
        padding: 0 1rem;
    }

    .card-action a i {
        margin-right: 5px;
    }
}

.top-tags a {
    padding: 0 0.5rem;
    margin: 3px 2px;
}

.friend-links a {
    padding: 0 5px;
    margin: 3px;
    font-family: "Microsoft YaHei UI Light", "Roboto", sans-serif;
    font-size: 10px;
}
.friend-links i {
    margin: 1px;

}

.collapsible-header h5 {
    margin: 0;
    padding: 9px;
}

.collapsible-header > .label {
    margin-left: 10px;
    color: #9e9e9e;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 2px;
}
.collapsible-header > .label > .material-icons {
    font-size: 1.5rem;
    line-height: 1.5rem;
    float: none;
    display: inline;
    margin: 0 1px 0 10px;
    vertical-align: middle;
}

.markdown-body {
    padding: 20px;
}
.markdown-body p {
    padding: 0;
}

.tag-chip {
    margin: 5px;
}