body {
    background: url("../image/bg.jpg") #DFDFDF;
}

.container {
    width: 95%;
}

nav {
    background-color: #333;
}

.brand-logo {
    font-weight: bold;
}

.side-nav {
    background-color: #333 ;
}

@media screen, projection {
    .side-nav.fixed a {
        color: #777;
    }

    .side-nav.fixed i {
        line-height: inherit;
        width: inherit;
    }

    .side-nav.fixed .collapsible-body {
        background-color: #333;
    }

    .side-nav.fixed a.active {
        color: #444;
        background-color: #ddd;
    }
}

@media only screen and (min-width: 993px){
    main {
        padding-left: 240px;
    }

    .brand-logo {
        margin-left: 20%;
    }
}

.dashboard, .dashboard a{
    font-size: 15px;
    color: #FFF;
}

.dashboard .number {
    font-size: 30px;
    text-align: right;
    line-height: 30px;
}
.dashboard .card-action{
    padding: 3px 3px 0 3px;
    height: 24px;
}

td {
    width: auto;
}

.bold > a {
    font-weight: bold;
}

.no-padding {
    padding: 0;
}

#nav-mobile .collapsible-according {
    height: auto;
    background-color: inherit;
}

.btn-success {
    background-color: #2196F3 !important;
}

.btn-warning {
    background-color: #f0ad4e !important;
}

.btn-danger {
    background-color: #d43f3a !important;
}

.mi-refresh {
   animation: container-rotate 1568ms linear infinite;
}

.btn-floating.fixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.input-field label > i.material-icons {
    line-height: 22px;
    position: relative;
    top: 0.5rem;
}